# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
uv.lock

# Test and coverage
.pytest_cache/
htmlcov/

# Logs
logs/

# Generated data
data/output/

# Coverage 
.coverage

#.env
.env
.env.local
data/**

#BMAD
.bmad-core/
.claude/